@tailwind base;
@tailwind components;
@tailwind utilities;

/* স্লাইডার স্ক্রলবার লুকানোর জন্য স্পেশাল সিএসএস */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
